.posterContainer {
  border: 4px dotted orangered;
  background-color: yellow;
  height: 420px;
  width:  390px;
}

.title {
  text-decoration: overline underline;
  text-align: center;
  margin-bottom: 0px;
  font-family: Arial;
  font-weight: bold;


}

.messageTxt {
  font-weight: bold;
  text-align: center;
  
}

.fillerPic{
  border: solid;
  width:35%;
  height:35%;
}

.img {
   display: flex;
   justify-content: center;
 }

 .featureDescription {
   text-align: center;
}

  .contactInfo {
    text-align: center;
}

  .monetizedReward {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }